* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*html,*/
/*body {*/
/*  max-width: 100vw;*/
/*  overflow-x: hidden;*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

a {
  color: inherit;
  text-decoration: none;
  padding: 0 20px;
}
a:hover{
    color: lightcyan;
}
a:active{
    color: blueviolet;
}
.container{
    min-width: 900px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0 auto;
    text-align: center;
}
main{
    min-height: calc(100vh - 85px - 22px);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
header{
    background-color: gray;
    text-align: center;
    color: white;
    height: 70px;
    padding-top: 25px;
}
